<div class="d-grid gap-2 col-6 mx-auto">
    <BR></BR>
    <h2 class="text-center">QUẢN LÍ CUỘC HẸN</h2>
    <a href="/doctor/viewAppointmentByDoctor" class="btn btn-warning fw-bold fs-2">Lọc theo nha sĩ</a>
    <a href="/doctor/viewAppointmentByPatient" class="btn btn-info fw-bold fs-2">Lọc theo bệnh nhân</a>
    <a href="/doctor/viewAppointmentByRoom" class="btn btn-danger fw-bold fs-2">Lọc theo phòng khám</a>
</div>