<div class="d-grid gap-2 col-6 mx-auto">
    <BR></BR>
    <h2 class="text-center">QUẢN TRỊ VIÊN</h2>
    <a href="/admin/viewPersonalScheduleBydate" class="btn btn-secondary fw-bold fs-2">Xem Lịch Cá Nhân Theo Ngày</a>
    <a href="/doctor/viewDentists" class="btn btn-secondary fw-bold fs-2">Xem Nha Sĩ Theo Mã Nha Sĩ</a>
    <a href="/doctor/appointmentOption" class="btn btn-danger fw-bold fs-2">Quản lí cuộc hẹn</a>
    <a href="/admin/Medicine" class="btn btn-primary fw-bold fs-2">Thuốc</a>
    <a href="/doctor/viewTreatmentPlan" class="btn btn-primary fw-bold fs-2">Xem kế hoạch điều trị</a>
    <a href="/doctor/addTreatmentPlan" class="btn btn-info fw-bold fs-2">Thêm kế hoạch điều trị</a>
</div>