<div>
    <div>
        <div>
            <h1>Thêm bệnh nhân</h1>
        </div>
        <div>
            <form id="myForm" method="post" action="/staff/addPatient">
                <div class="mb-3">
                    <label for="mabenhan" class="col-form-label">Mã bệnh nhân:</label>
                    <input type="text" name="mabenhan" class="form-control" id="mabenhan">
                </div>
                <div class="mb-3">
                    <label for="hoten" class="col-form-label">Họ tên:</label>
                    <input type="text" name="hoten" class="form-control" id="hoten">
                </div>
                <div class="mb-3">
                    <label for="ngaysinh" class="col-form-label">Ngày sinh:</label>
                    <input type="date" name="ngaysinh" class="form-control" id="ngaysinh">
                </div>
                <div class="mb-3">
                    <label for="gioitinh" class="col-form-label">Giới tính:</label>
                    <input type="text" name="gioitinh" class="form-control" id="gioitinh">
                </div>
                <div class="mb-3">
                    <label for="email" class="col-form-label">Email:</label>
                    <input type="text" name="email" class="form-control" id="email">
                </div>
                <div class="mb-3">
                    <label for="sodienthoai" class="col-form-label">Số điện thoại:</label>
                    <input type="text" name="sodienthoai" class="form-control" id="sodienthoai">
                </div>
                <div class="mb-3">
                    <label for="diachi" class="col-form-label">Địa chỉ:</label>
                    <input type="text" name="diachi" class="form-control" id="diachi">
                </div>
                <div class="mb-3">
                    <label for="tongtiendieutri" class="col-form-label">Tổng tiền điều trị:</label>
                    <input type="number" name="tongtiendieutri" class="form-control" id="tongtiendieutri">
                </div>
                <div class="mb-3">
                    <label for="tongtiendieutridatra" class="col-form-label">Tổng tiền điều trị đã trả:</label>
                    <input type="number" name="tongtiendieutridatra" class="form-control" id="tongtiendieutridatra">
                </div>
                <div class="mb-3">
                    <label for="tongquan" class="col-form-label">Tổng quan:</label>
                    <input type="text" name="tongquan" class="form-control" id="tongquan">
                </div>
                
                
            </form>
        </div>
        <div>
            <button id="myButton"  type="submit" class="btn btn-primary">Thêm bệnh nhân</button>
        </div>
    </div>
</div>


<script>
  $('#myButton').click(function() {
    $('#myForm').submit();
  });
</script>