<div class="d-grid gap-2 col-6 mx-auto">
    <BR></BR>
    <h2 class="text-center">NHÂN VIÊN</h2>
    <a href="/staff/addPatient" class="btn btn-warning fw-bold fs-2">Thêm 1 bệnh nhân</a>
    <a href="/staff/addContraindications" class="btn btn-info fw-bold fs-2">Thêm chống chỉ định thuốc bệnh nhân</a>
    <a href="/staff/addTreatmentPlan" class="btn btn-primary fw-bold fs-2">Thêm kế hoạch điều trị bệnh nhân</a>
    <a href="/staff/viewTreatmentPlan" class="btn btn-success fw-bold fs-2">Xem kế hoạch điều trị bệnh nhân</a>
    <a href="/staff/addAppointment" class="btn btn-secondary fw-bold fs-2">Thêm cuộc hẹn</a>
    <a href="/staff/deleteAppointment" class="btn btn-primary fw-bold fs-2">Xóa cuộc hẹn</a>
    {{!-- <a href="/staff/editAppointment" class="btn btn-secondary fw-bold fs-2">Thêm cuộc hẹn</a> --}}

</div>